# To use this environment variables file, make a copy of this file named ".env" then add your environment values

# version info
VERSION="0.0.0"
DATE="January 1, 3000"
# mongo db connection
MONGO_DB_USER="example user"
MONGO_DB_PASSWORD="example password"
MONGO_DB_HOST="localhost"
MONGO_DB_PORT="27017"
# session
SESSION_SECRET="example secret"
SESSION_TIMEOUT_SECONDS="1800"

EMAIL_SMTP_HOST=email-smtp.us-east-1.amazonaws.com
EMAIL_SMTP_PORT=465
EMAIL_USER=example user
EMAIL_PASSWORD=example password
EMAIL_URL=http://localhost:XXXX
EMAILS_ENABLED=true
SCHEDULE_JOB=1 0 1 * * *

# email recipient
CONCIERGE_EMAIL=""
ORG_OWNER_EMAIL = ""
ADMIN_EMAIL = ""

# temp constants
SUBMISSION_DOC_URL = ""