# To use this environment variables file, make a copy of this file named ".env" then add your environment values

# version info
VERSION="0.0.0"
DATE="January 1, 3000"
# mongo db connection
MONGO_DB_USER="example user"
MONGO_DB_PASSWORD="example password"
MONGO_DB_HOST="localhost"
MONGO_DB_PORT="27017"
DATABASE_NAME="crdc-datahub"
# session
SESSION_SECRET="example secret"
SESSION_TIMEOUT_SECONDS="1800"

EMAIL_SMTP_HOST=email-smtp.us-east-1.amazonaws.com
EMAIL_SMTP_PORT=465
EMAIL_USER=example user
EMAIL_PASSWORD=example password
EMAIL_URL=http://localhost:XXXX
EMAILS_ENABLED=true
SCHEDULE_JOB=1 0 1 * * *
LOADER_QUEUE=crdcdh-queue

SUBMISSION_DOC_URL=https://datacommons.cancer.gov/ 

#Token settings
#set API token timeout to 1 day
TOKEN_TIMEOUT=86400

#aws sts assume role arn
ROLE_ARN ="arn:aws:iam::{iamId}:role/{role}"
ROLE_TIMEOUT = 3600

#S3 configurations
SUBMISSION_BUCKET=crdcdh-test-submission
AWS_SDK_LOAD_CONFIG=1
PRESIGN_EXPIRATION=3600

# SQS names
METADATA_QUEUE=CRDC-METADATA
FILE_QUEUE=CRDC-FILE
EXPORTER_QUEUE=CRDC-EXPORT

#CRDC Review Committee Emails, separated by comma, ","
REVIEW_COMMITTEE_EMAIL=be.test@nih.gov,be.admin@nih.gov
# 60 minutes by default
DASHBOARD_SESSION_TIMEOUT=3600
